In [1]:
#Q.1
import pandas as pd
 

list = [4, 8, 15, 16, 23,42]
 
ser = pd.Series(list)
print(ser)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [3]:
#Q.2
import pandas as pd
list = ['a','b','c','d','e','f','g','h','i','j' ]
df = pd.Series((i[0] for i in list))
  
print(df)

0    a
1    b
2    c
3    d
4    e
5    f
6    g
7    h
8    i
9    j
dtype: object

In [5]:
#Q.3
import pandas as pd
data = {'Name':['Alice', ' Bob', 'Claire'], 'Age':[25, 30, 27, ], 'Gender':['Female' , 'Male' ,'Female']}
df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [6]:
#Q.4
#A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or
#a table with rows and columns.
#A pandas series is a one-dimensional data structure that comprises of key-value pair, 
#where keys/labels are the indices and values are the values stored on that index.
import pandas

fruits = pandas.Series(["apples", "oranges", "bananas"])

print("Fruit series:")
print(fruits)

temperature = pandas.Series([32.6, 34.1, 28.0, 35.9])

print("\nTemperature series:")
print(temperature)

factors_of_12 = pandas.Series([1,2,4,6,12])

print("\nFactors of 12 series:")
print(factors_of_12)

print("Type of this data structure is:", type(factors_of_12))

Fruit series:
0     apples
1    oranges
2    bananas
dtype: object

Temperature series:
0    32.6
1    34.1
2    28.0
3    35.9
dtype: float64

Factors of 12 series:
0     1
1     2
2     4
3     6
4    12
dtype: int64
Type of this data structure is: <class 'pandas.core.series.Series'>

In [9]:
#Q.5
import pandas as pd
df = pd.read_csv("data.csv")

In [10]:
df.tail()

     name          email_id  phone_number
0   umesh   umesh@gmail.com     758647584
1   Rintu   rintu@gmail.com    5974747903
2  sudhir  sudhir@gmail.com      54636367

In [11]:
df.head()

     name          email_id  phone_number
0   umesh   umesh@gmail.com     758647584
1   Rintu   rintu@gmail.com    5974747903
2  sudhir  sudhir@gmail.com      54636367

In [12]:
df.columns

Index(['name', 'email_id', 'phone_number'], dtype='object')

In [ ]:
#Q.6
import pandas as pd
import numpy as np

df1 = pd.DataFrame({'a': ['Geeks', 'For', 'geeks', 'real'],
					'b': [-11, +1.025, -114.48, 1333]})

df2 = pd.DataFrame({'a': ['I', 'am', 'dataframe', 'two'],
					'b': [100, 100, 100, 100]})
					
data = {'item1':df1, 'item2':df}
panel = pd.Panel.from_dict(data, orient ='minor')
print("panel['b'] is - \n\n", panel['b'])

print("\nShape of panel['b'] is - ", panel['b'].shape)